*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
}

h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.nombre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2 rem;
    background-color: black;
    color: white;
    text-align: center;
}

.menu{
    display: flex;
 background-color: aquamarine;
 align-items: flex-end;
}

.img_logo{
    height: 100px;

}

.background{
   background-image: url("./img/backgroundimg.jpg");
}

.formulario{
    width: 400px;
    background-color: aquamarine;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.controls{
    width: 100%;
    background: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid chartreuse;
}

.btnCliente{
width: 70%;
background: greenyellow;
border: none;
padding: 10px;
color: black;
margin: 10px 0;
font-size: 15px;
border: 2px solid black;

}

.btn{
width: 100%;
background: white;
border: none;
padding: 12px;
color: black;
margin: 16px 0;
font-size: 20px;
}

.footer{
    background-color: cyan;
}